;----------------------------------------------------------
; ESS SV BIOS contact: amol.shinde@intel.com
; XML CLI Knobs settings config file 
; The name entry here should be identical as the name 
; from the XML file (retain the case)
; For Hex number prefix them by "0x"
; for decimal values dont prefix the above
;----------------------------------------------------------
; To use the same file with ITP, please uncomment following line
;[BiosKnobs]

ForceBoot = 2           ; Comments can go here
serialDebugMsgLvl = 0x2 ; Comments go here
